# Environment files
.env
.env.*
!.env.example

# Python cache
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
.venv/

# Database files
*.db
*.sqlite3

# Logs
*.log

# Node modules
node_modules/

# Build files
dist/
build/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# ML files (agar bade model hain)
*.pkl
*.h5
*.joblib

# Uploaded files
uploads/
static/uploads/

# Secrets
*.pem
*.key