/* Tablet */

@media(max-width:900px){


.sidebar{

width:200px;

}


.main{

margin-left:220px;

}



.cards{

grid-template-columns:1fr;

}



.section{

grid-template-columns:1fr;

}


}




/* Mobile */


@media(max-width:600px){


.sidebar{


position:relative;

width:100%;

height:auto;

text-align:center;


}



.sidebar a{

display:inline-block;

}



.main{


margin-left:0;

padding:20px;

}



.cards{


grid-template-columns:1fr;


}



.card{


padding:20px;

}


h1{

font-size:25px;

}


button{


padding:10px;

}



}